/* @font-face {
  font-family: 'quantumregular';
  src: url('../fonts/quantum-webfont.woff2') format('woff2'),
       url('../fonts/quantum-webfont.woff') format('woff');

} */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Racing+Sans+One&display=swap');


*{
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}
body {
  /* overflow: hidden; */
  background: black;
}

h1{
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Racing Sans One', cursive;
}

h2{
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .1rem;
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #D4A11C;
  text-transform: uppercase;
  background: #0D4E62;
  padding: 1rem;
  transform: translate3d(0, -100%, 0);
  transition: transform 300ms;
}

h4{
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  font-family: 'Lobster', cursive;
}

.tab p{
  font-size: 1.1rem;
  line-height: 30px;
  text-align: justify;
  margin: 5rem 0;
}


/****************************************************************** NUMBER **********************/

.e_body:hover,
.e_body:focus,
h2:hover,
h2:focus{
  transform: translate3d(0, 0, 0);
}

.item_b:hover,
.item_b:focus{
  opacity: 1;
}

.container{
  margin: 0 auto;
  max-width: 125rem;
}

.tab{
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 2rem;
}

.item{
  position: relative;
  overflow: hidden;
	height: 40rem;
}

.e_body{
	height: 100%;
	position: absolute;
	width: 100%;
	top: 0;
	transition: transform 300ms;
  background: #0D4E62;
	transform: translate3d(0, 100%, 0);
}

.item_b{
  flex-grow: 1;
  padding: 1rem 3rem;
	opacity: 0;
	transition: opacity 500ms 100ms;
}


.tab img{ 
  height: 100%;
}

@media screen and (max-width: 1440px){

  .long p {
    line-height: 27px;
    margin: .5rem 0;
  }

}  

@media screen and (max-width: 1188px){

  .item_b {
    padding: 1rem 2rem;
  }

  .tab p {
    font-size: 1.2rem;
    line-height: 23px;
    margin: .5rem 0;
  }

  .item {
    height: 35rem;
  }

  .tab img{ 
    width: 100%;
  }

  .tab {
    grid-gap: 2rem;
  }

}

@media screen and (max-width: 1024px){

  /* .item {
    height: 40rem;
  } */

  .long p {
    font-size: .99rem;
  }
}

@media screen and (max-width: 990px){

  .tab{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
  }
  .item_b {
    padding: 3rem 2rem;
  }

  .tab p {
    font-size: 1.3rem;
    line-height: 35px;
    margin: 0.5rem 0;
  }

  .long p {
    font-size: 1.2rem;
    line-height: 28px;
  }

}

@media screen and (max-width: 770px){
  
  .item_b {
    padding: 1rem 2rem;
  }
  
  .item {
    height: 40rem;
  }

  .long p {
    font-size: 1.1rem;
    line-height: 30px;
  }
}

@media screen and  (max-width: 590px) {
  .tab {
    margin: 0 1rem;
  }
  .tab p {
    font-size: 1.2rem;
  }

  .long p {
    font-size: 1.1rem;
    line-height: 26px;
  }
}

@media screen and  (max-width: 488px) {
  .long p {
    font-size: 1rem;
    line-height: 25px;
  }
}

@media screen and  (max-width: 425px) {
  
  .tab p {
    font-size: 1.1rem;
    line-height: 30px;
  }
  
  .long p {
    font-size: .9rem;
    line-height: 25px;
  }
}


@media screen and  (max-width: 375px) {
  .long p {
    line-height: 21px;
  }
}
