/* @font-face {
    font-family: 'quantumregular';
    src: url('../fonts/quantum-webfont.woff2') format('woff2'),
         url('../fonts/quantum-webfont.woff') format('woff');
} */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Racing+Sans+One&display=swap');


/************************************************************************************************ GRID *****************************************************************************/

.flex{
    display: flex;
}

.center{
    align-items: center;
}

.j-center{
    justify-content: center;
}

.space-b{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}

#bentley{
    width: 50%;
}

.w30{
    width: 30%;
}

.w50{
    width: 50%;
}

.w60 {
    width: 65%;
}

.w100{
    width: 100%;
}

.m5{
   padding: 5%;
}

.bm{
    margin-bottom: 5%;
}

.bm2{
    margin-bottom: 2%;
}

a{
    text-decoration: none;
}

/************************************************************************************************ HEADER ****************************************************************************/
.head .nav{
    text-transform:uppercase;
    font-family:'Racing Sans One', cursive;
    font-weight: 400;
   font-size: 2rem;
}

nav li a:hover{
    color: #D4A11C;
}

li{
    list-style: none;
}

.logo{
    width: 15.3rem;
}

.header{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}


.brands img{
    width: 35%;
}

.brands p {
    font-size: 0.7rem;
    font-weight: 500;
    margin: 1%;
}
.car:hover + .brands,
.brands:hover{
    visibility: visible;
    opacity: 1;
}

.brands{ 
    position: absolute;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    top: 8%;
    left: 25%;
    border: 1px solid #D4A11C;
    width: 40%;
    padding: 0.5rem 1.5rem;
    background: black;
    transition: all .4s!important;
    visibility: hidden;
    opacity: 0;
}

.red{
    height: 100%;
}

#red,
.brands p:hover{
    font-family:'Racing Sans One', cursive;
    color: #D4A11C;
}

/*************************************************************************************** MENU ****************************************************************************************/

#menu__toggle, #active{
   display: none;
}
  
#menu__toggle:checked + .menu__btn > span::after{
    width: 10px;
}
#menu__toggle:checked ~ .menu__box {
    right: 3% !important;
}
  
.menu__btn {
    position: fixed;
    right: 7rem;
    width: 3rem;
    height: 1rem;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition-duration: .25s;
}
  
.menu__btn > span::after{
    content: '';
    top: 10px;
}
.menu__box {

    position: fixed;
    top: 9.5%;
    right: -100%;
    width: 32rem;
    list-style: none;
    transition-duration: .25s;
    z-index: 2;
} 

.menu__item p, .menu  p{
    display: block;
    top: 0;
    left: 5%;
    padding: 10px 10px;
    margin: 0 10px;
    transition-duration: .25s;
    font-family:'Racing Sans One', cursive;
    border: 2px solid #D4A11C;
    background-color: #1d1e1f73;
}

.menu{
    display: none;
}


@media screen and (max-width: 1440px){

    .w60 {
        width: 70%;
    }

    .w50 {
        width: 65%;
    }

    .header::after {
        width: 20rem;
        left: 43%;
    }

    .logo {
        width: 175px;
        height: 55px;
    }

    .brands {
        left: 18%;
        width: 55%;
    }
}



@media screen and (max-width: 1024px){
    
    .w50 {
        width: 100%;
    }

    .header {
        margin-top: 2%;
    }
    
    .phone-btn {
        position: fixed;
        top: 30px;
        right: 3rem;
        width: 3rem;
        height: 1rem;
        z-index: 12;
    }

    .phone-btn > span,
    .phone-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        transition-duration: .25s;
    }

    .phone-btn > span::after{
        content: '';
        top: 10px;
    }

    .test{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background: rgb(255, 255, 255);
        transition: all 0.6s ease-in-out;
        flex-direction: column;
        z-index: 11;
    }
    
    .test .head{
        height: 100vh;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    
    .car:hover + .brands,
    .brands:hover{
        visibility: hidden;
        opacity: 0;
    }
    
    #active:checked + .phone-btn > span::after{
        width: 10px;
    }
    
    #active:checked + .phone-btn > span::after,
    #active:checked + .phone-btn > span{
        background-color: #D4A11C;
    }
    
    .head a{
        color: #000;
    }
    #active:checked ~ .test{
         right: 0 !important;
    }

    .menu{
        display: block;
        position: relative;
        left: 15%;
    }
    
    .header::after,
    .menu__btn,
    .menu__item,
    #active {
        display: none;
    }

    .head li{
        text-align: center;
        margin: 0.6rem ;
    }
}

@media screen and (max-width: 429px){

    .header {
        margin-top: 4%;
    }
    

    .logo{
        width: 118px;
        height: 37px;
    }

    .menu-d{
        flex-direction: column;
    }
    .menu{
        left: 0;
    }
    .head li {
        text-align: center;
        margin: 0.5rem 0;
    }

    .menu p {
        font-size: 15px;
        margin: 0;
        font-weight: 700;
        text-align: center;
        font-family:'Racing Sans One', cursive;
        color: #000;
        background: none;
        border: none;
    }

    .pointer  {
        display: none;
    }
    .menu-d{
        width: 100%;
    }

    
}

/******************************************************** FOOTER ************************************************************************/
footer{
    margin: auto  5rem 1%;
    position: relative;
    border-top: #969292 2px solid ;
    padding: 2rem 0 0;
}

.foot  li{
    width: 50%;
}

.foot p:hover,
#Terms a:hover{
    color: #D4A11C;
}
#Terms a:hover{
    font-family:'Racing Sans One', cursive;
}
.foot{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr  1fr;
    gap: 5px;
    justify-items: center;
}

#puce{
    font-size: 12px;
}

@media screen and (max-width: 1024px){

    footer {
        margin: auto 3rem 1%;
    }
}

@media screen and (max-width: 768px){

    footer {
        margin: auto 0rem 1%;
    }
}


@media screen and (max-width: 425px){
    .foot {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

