
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Racing+Sans+One&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    text-align: justify;
    scroll-behavior: smooth;
    scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }

html{
    background: black;
}

.pointer{
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    z-index: 5;
    background: #EEB420;
    padding: .8%;
    border-radius: 50%;
}

@media screen and (max-width: 1024px) {
    .pointer{
        padding: .9%;
    }
}

/************************************************************************************************ GRID *****************************************************************************/

.flex{
    display: flex;
}

.center{
    align-items: center;
}

.j-center{
    justify-content: center;
}

.space-b{
    justify-content: space-between;
}

.space-e{
    justify-content: space-evenly;
}

.space-a{
    justify-content: space-around;
}

.column{
    flex-direction: column;
}

#bentley{
    width: 50%;
}

.font-l{
    font-family: 'Lobster', cursive;
    letter-spacing: 0.1rem;
}

.font-r{
    font-family: 'Racing Sans One', cursive;
}

.p15{
    padding: 15%;
}

.w30{
    width: 30%;
}

.w58{
    width: 58%;
}

.w100{
    width: 100%;
}

.m5{
   padding: 5%;
}

.bm2{
    margin-bottom: 2%;
}

.bm{
    margin-bottom: 5%;
}

.mb20{
    margin-bottom: 20vh;
}

.bm20{
    margin-bottom: 20%;
}

.mb30{
    margin-bottom: 30%;
}

.mb20{
    margin-bottom: 20vh;
}

.hide {
    opacity:0;
}

.show {
    opacity:1;
}

a{
    text-decoration: none;
}

.btn{
    font-size: 1.3rem;
    font-weight: 400;
    width: 13rem;
    padding: 0.5rem 0.7rem;
    border: 1px solid #EEB420;
    color: #EEB420;
    text-align: center;
    transition-duration: .25s;
}

.btn:hover{
    background: #EEB420;
    color: #ffffff;
}

h2 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: .1rem;
    color: #EEB420;
    text-transform: uppercase;
    position: absolute;
    top: 10%;
    left: 10%;
}

h4{
    font-weight: 500;
    font-size: 2.2rem;
    text-align: center;
    color: #EEB420;
    text-transform: uppercase;
}

@media screen and (max-width: 628px){
    .mb20{
        margin-bottom: 30vh;
    }
}

/**************************************************************************************** Fond HEADER ***************************************************************************************************************/
.phone-slice{
    display: none;
}

#img1{
    background: linear-gradient(1.5deg, #000000 5.78%, rgba(0, 0, 0, 0.43) 33.71%, rgba(0, 0, 0, 0) 98.72%), url(../image/Activité\ acceuil.jpg);
    background-size:cover;
    position: relative;
    width: 100%;
    height: 90vh;
}

#img2{
    background: linear-gradient(2.54deg, #000000 5.78%, rgba(0, 0, 0, 0.43) 40.34%, rgba(0, 0, 0, 0) 98.72%), url(../image/Image\ 24-06-2022.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 90vh;

}

.img .btn{
    position: absolute;
    bottom: 15%;
}

@media screen and (max-width: 862px){
    .btn {
        font-size: 1.2rem;
        width: 12rem;
    }
}


@media screen and (max-width: 768px){
    #img2{
        background-position: top;
    }
}

@media screen and (max-width:554px){

    .phone-slide{
        scrollbar-color:none;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }

    .phone-slice{
        display: block;
        position: absolute;
        bottom: 16%;
    }

    .slice1{
        right: 12%;
    }
    
    .slice2{
       left: 12%;
    }

    .img .btn {
        font-size: 20px;
        width: 11rem;
    }

    .img{
        flex: 0 0 100%;
    }

}

/*µµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµ MAIN µµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµ */


/************************************************************************************************** Pt RESUME ********************************************/

.wall{
    width: 55%;
    margin-left: 5%;
}

.wall img{
    width: 100%;
    height: 95%;
}

article p,
.slider p{
    font-size: 1.37rem;
    text-transform: none;
}

.choix{
    position: relative;
    top: 20%;
}

.choix .btn{
    color: #000000;
    background: #ffffff;
    border: 1px solid #ffffff;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 1%;
    padding: 1rem 1.2rem;
    text-align: center;
    transition-duration: .25s;
}

.choix .btn2{
    border: 1px solid #ffffff;
    background: #000000;
    color: #ffffff;
}

.choix .btn:hover{
    border: 1px solid #dddada;
    background: #dddada;
    color: #000000;
}

#petit{
    margin-left: 5%;
    margin-right: 5%;
}


@media screen and (max-width: 1054px){
    
    .wall img {
        height: 100%;
    }

    #petit{
        width: 35%;
    }

    article p {
        font-size: 1.3rem;
        text-transform: none;
    }

    .choix .btn {
        padding: 0.7rem 3rem
    }
}

@media screen and (max-width: 862px){

    article p {
        font-size: 1.1rem;
    }

    .choix .btn {
        padding: 0.6rem 2rem;
        font-size: 1.1rem;
        margin: 2%;
    }

    #petit {
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media screen and (max-width: 768px){

    #petit p{
        font-size: 18px;
    }


    .choix .btn {
        font-size: 15px;
    }

}

@media screen and (max-width: 628px){
    #petit {
        width: 50%;
    }
}

@media screen and (max-width: 554px){
    
    #petit p {
        font-size: 12px;
    }
    .choix .btn {
        font-size: 12px;
        padding: 0.3rem 1rem;
    }
}

@media screen and (max-width: 425px) {

    #pres{
        flex-wrap: wrap;
    }

    .wall {
        width: 90%;
        height: 40vh;
        margin-bottom: 5%;
    }

    #petit {
        width: 91%;
    }

    #petit p {
        font-size: 16px;
    }

    .choix .btn {
        font-size: 15px;
        padding: 0.6rem 1rem;
    }
}

/**************************************************************************************************************** SLIDER ********************************************************/

.slider {
    position: relative;
    width: 100%;
    height: 115vh;
    padding: 30px auto 0;    
}

.slide {
    height: 100%;
    width: 100%;
    position: absolute;
}

.slide1{
    background: url(../image/rect.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}

.slide2{
    background: url(../image/pexels-abed-ismail-7799781.png)no-repeat;
    background-position: center;
    background-size: cover;
}

.slide3{
    background: url(../image/pexels-manprit-kalsi-1537086.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}

#carrer {
    background: #000000;
    width: 45%;
    height: 45%;
    position: absolute;
    left: 5rem;
    top: 5rem;
} 

.op{
    position: absolute;
    top: 44%;
    left: 10%;
    z-index: 5;
}

.slider .btn
,.selector{
    border: none;
}

.selector{
    background: none;
}

.slider p {
    margin-left: 3rem;
    width: 85%;
    text-align: left;
}

.slide span{
    position: absolute;
    bottom: 26%;
    right: 9%;
    font-weight: 600;
    color: #EEB420;
}

.slide article{
    height: 100%;
    width: 104%;
}

.visible{
    animation: display 1s;
}

@keyframes display {
    0% {
      transform: translateX(2%);
      opacity: 50%;
    }
    110% {
      transform: translateX(0);
      opacity: 100%;
    }
}

@media screen and (max-width: 1440px){

    .slider p {
        font-size: 1.3rem;
        margin-left: 3rem;
        width: 85%;
        text-align: left;
    }

    #carrer {
        width: 50%;
    }   

}

@media screen and (max-width: 1054px){
    h2{
        font-size: 2.8rem;
    }

    .slider p {
        font-size: 1.2rem;
    }

    #carrer {
        width: 65%;
    }

}

@media screen and (max-width: 862px){

    .slide article {
        width: 100%;
    }

    .slider p {
        font-size: 1.06rem;
    }

    .slider .btn {
        font-size: 1.2rem;
        width: 10rem;
        padding: 0.4rem 0.7rem;
    }

    .op{
        top: 45%;
        left: 15%;
    }
}

@media screen and (max-width: 768px){

    h2{
        font-size: 2rem;
    }

    #carrer {
        width: 55%;
    }

    .slider p {
        margin-left: 2rem;
        font-size: 1rem;
    }

    .slide span {
        bottom: 20%;
    }

    .slider .btn {
        width: 8rem;
    }

}


@media screen and (max-width: 628px){

    .slider {
        height: 100vh;
    }

    #carrer {
        width: 70%;
        height: 50%;
    }

    .slider .btn {
        font-size: 1.1rem;
        width: 7rem;
        top: 50.5%;
    }

    .op {
        top: 50%;
        left: 20%;
    }
}

@media screen and (max-width: 554px) {

    h2 {
        top: 10%;
    }

    #carrer {
        width: 90%;
        height: 70%;
        left: 1rem;
        top: 3rem;
    }
    
    .slider {
        height: 84vh;
    }

    .op {
        top: 65%;
        left: 15%;
    }
    
}

@media screen and (max-width: 375px) {

    .op {
        top: 67%;
    }

    .slide span {
        bottom: 17%;
    }
}
/********************************************************************************************* BLA OF CAR ***************************************************************************************/

.bla p{
    font-size: 2rem;
    text-transform: none;
}

@media screen and (max-width: 1054px){

    .bla p {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 862px){
    .bla p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 768px){
    .bla p {
        font-size: 1.1rem;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 628px){

    .bla p {
        font-size: 1rem;
    }
}


/* ****************************************************************  Carousel voitures ****************************************************** */

  
#content {
    display: grid;
    grid-gap: 5rem;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}
  
.item {
    width: 32rem;
    height: 40rem;
}

.item img{
    width: 100%;
}

legend{
    text-align: end;
    font-size: 15px;
    font-weight: 200;
}

.item p {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
}

.item p::after{
    content: "";
    position: absolute;
    top: 90%;
    left: 25%;
    width: 50%;
    height: 1px;
    background-color: #ffffff;
}

@media screen and (max-width: 1440px){

    #content {
        grid-gap: 3.2rem;
    }
    .item {
        width: 23rem;
        height: 35rem;
    }

}

@media screen and (max-width: 1288px){
    .item {
        width: 20rem;
        height: 30rem;
    }

    #content {
        grid-gap: 2.2rem;
    }
}

@media screen and (max-width: 1054px){

    h4{
        font-size: .9rem;
    }

    .item p{
        font-size: .8rem;
    }
    
    #content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 2rem;
    }

    .item {
        width: 15.5rem;
        height: 25rem;
    }
}

@media screen and (max-width: 768px){

    .item {
        height: 20rem;
    }
}


@media screen and (max-width: 554px) {

    h4 {
        font-size: 1.5rem;
    }

    #content {
        grid-gap: 2rem;
    }

    legend {
        font-size: 10px;
    }

    .slide article {
        width: 100%;
    }

    .pointer{
        display: none;
    }
}